<header id="header">
  <h1>{{site-main-title}}</h1>
  <table width=50%>
    <tr>
    <td><a href="/">Home</a></td>
    <td><a href="/tags/">Tags</a></td>
    <td><a href="/about/">About</a></td>
    <td>
    </td>
    </tr>
  </table>
</header>
